<?xml version="1.0" encoding="utf-8" ?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
   http://www.springframework.org/schema/context
   http://www.springframework.org/schema/context/spring-context-3.0.xsd">

    <!-- bean definitions here -->
<!--    <bean id="doctor" class="com.project1.doctor">-->
<!--        <constructor-arg value="MBBS"></constructor-arg>-->

<!--        injecting using getters and setters-->
<!--        <property name="qualification" value="MBBS"></property>-->
<!--        injecting object-->
<!--        <property name="nurse" ref="nurse"></property>-->
<!--    </bean>-->
<!--    <bean id="nurse" class="com.project1.nurse"></bean>-->

    <context:component-scan base-package="com.project1"></context:component-scan>

</beans>